*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-header{
    background-image: url(./img/GIORGIO\ ARMANI\ Si\ Passione\ Eau\ de\ Parfum.jpg);
    background-size: 1300px 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 23rem;
    display: grid;
    align-content: center;
    justify-content: center;
}
.text-header1 , .text-header2, .text-header3{
    font-family: 'Smooch', cursive;
    font-size: 5rem;
    color:whitesmoke;
}
.text-header3{
    color: gold !important;
}
.spacing{
    width: 100%;
    height: 5rem;
    
}
.spacing-text{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    color:rgb(177, 50, 50);
}
.products{
    margin-left: 4.5rem;
}
.card-img-top{
    height: 20rem;
}
.card-text{
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 700;
}
.icon-shop, 
.icon-heart{
    padding: 10px;
}
.icon-shop:hover, 
.icon-heart:hover{
    font-size: 1.5rem;
    color: rgb(175, 26, 26);
}
.card{
    transition: all ease o.3s;
}
.card:hover{
    transform: scale(1.1);
}
.skin{
    width: 1000px;
    margin-left: 150px;
}


.footer{
    margin-top: 10rem;
}
.footer-link::before{
    
}
.footer-link {
    text-decoration: none;
    color: #000;
}
.footer-header {
    border-bottom: 2px solid;
    height: 35px;
}

.footer-link:hover {
    color: #000;
}
